<div class = "card-list-container py-5">
  <div class = "card w-50 mx-auto mt-4 shadow-lg">
    <div class = "card-body">
      <div class = "row">
        <table>
            <thead>
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
              </tr>
          </thead>

          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><%= link_to customer.name, public_customer_path(customer.id) %></td>
                <td><%= customer.email %></td>
                <td>
                  <% if admin_signed_in? %>
                    <%= link_to "削除", public_customer_path(customer.id), method: :delete, class:"btn btn-danger" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>