<div class="col-md-6 mx-auto mt-5">
  <h1>ShopPostへようこそ!!</span></h1>
  <p>ご自身のお店の投稿や気に入ったお店へいいねやコメントができます。</p>
  <div class="row">
   <p class ="ml-3"><%= link_to "Log in", new_customer_session_path, class:"btn btn-info" %></p>
   <p class ="ml-3"><%= link_to "Sign up", new_customer_registration_path, class:"btn btn-success" %></p>
  </div>
</div>